[Articles]
blogs = f{datetime.day}

[Section1]
an_int = 15
a_bool = true
a_float = 3.1415
baz = fun
bar = Python
foo = %(bar)s is %(baz)s!

[DEFAULT]
ServerAliveInterval = 45
Compression = yes
CompressionLevel = 9
ForwardX111 = yes

[All Values Are Strings]
values like this: 1000000
or this: 3.14159265359
are they treated as numbers? : no
integers, floats and booleans are held as: strings
can use the API to get converted values directly: true

[forge.example]
User = hg

[topsecret.server.example]
Port = 50022
ForwardX11 = no

[Paths]
home_dir: /Users
my_dir: %(home_dir)s/deven
my_pictures: %(my_dir)s/Sample

[Escape]
# use a %% to escape the % sign (% is the only character that needs to be escaped):
gain: 80%%
