[submodule "example-code-2e"]
	path = example-code-2e
	url = https://github.com/fluentpython/example-code-2e
[submodule "fastbook"]
	path = fastbook
	url = https://github.com/fastai/fastbook
[submodule "course22"]
	path = course22
	url = https://github.com/fastai/course22
