[submodule "Machine_Learning/course22"]
	path = Machine_Learning/course22
	url = https://github.com/fastai/course22
[submodule "Machine_Learning/PyTorchStepByStep"]
	path = Machine_Learning/PyTorchStepByStep
	url = https://github.com/dvgodoy/PyTorchStepByStep

[submodule "Machine_Learning/handson-ml3"]
	path = Machine_Learning/handson-ml3
	url = https://github.com/ageron/handson-ml3

[submodule "Machine_Learning/data-science-from-scratch"]
	path = Machine_Learning/data-science-from-scratch
	url = https://github.com/joelgrus/data-science-from-scratch
[submodule "Chess_AI"]
	path = Chess_AI
	url = https://github.com/ideven85/Chess_AI
[submodule "Machine_Learning/introtodeeplearning"]
	path = Machine_Learning/introtodeeplearning
	url = https://github.com/MITDeepLearning/introtodeeplearning
[submodule "Machine-Learning-Priya-Bhatia"]
	path = Machine-Learning-Priya-Bhatia
	url = https://github.com/GeeksforgeeksDS/Machine-Learning-Priya-Bhatia
