build                1.2.1    A simple, correct Python build frontend
cachecontrol         0.14.0   httplib2 caching for requests
certifi              2024.7.4 Python package for providing Mozilla's CA Bun...
cffi                 1.16.0   Foreign Function Interface for Python calling...
charset-normalizer   3.3.2    The Real First Universal Charset Detector. Op...
cleo                 2.1.0    Cleo allows you to create beautiful and testa...
crashtest            0.4.1    Manage Python errors with ease
distlib              0.3.8    Distribution utilities
dulwich              0.21.7   Python Git Library
fastjsonschema       2.20.0   Fastest Python implementation of JSON schema
filelock             3.15.4   A platform independent file lock.
idna                 3.7      Internationalized Domain Names in Application...
installer            0.7.0    A library for installing Python wheels.
jaraco-classes       3.4.0    Utility functions for Python class constructs
keyring              24.3.1   Store and access your passwords safely.
more-itertools       10.3.0   More routines for operating on iterables, bey...
msgpack              1.0.8    MessagePack serializer
packaging            24.1     Core utilities for Python packages
pexpect              4.9.0    Pexpect allows easy control of interactive co...
pkginfo              1.11.1   Query metadata from sdists / bdists / install...
platformdirs         4.2.2    A small Python package for determining approp...
poetry               1.8.3    Python dependency management and packaging ma...
poetry-core          1.9.0    Poetry PEP 517 Build Backend
poetry-plugin-export 1.8.0    Poetry plugin to export the dependencies to v...
ptyprocess           0.7.0    Run a subprocess in a pseudo terminal
pycparser            2.22     C parser in Python
pyproject-hooks      1.1.0    Wrappers to call pyproject.toml-based build b...
rapidfuzz            3.9.4    rapid fuzzy string matching
requests             2.32.3   Python HTTP for Humans.
requests-toolbelt    1.0.0    A utility belt for advanced users of python-r...
shellingham          1.5.4    Tool to Detect Surrounding Shell
tomlkit              0.13.0   Style preserving TOML library
trove-classifiers    2024.7.2 Canonical source for classifiers on PyPI (pyp...
urllib3              2.2.2    HTTP library with thread-safe connection pool...
virtualenv           20.26.3  Virtual Python Environment builder
xattr                1.1.0    Python wrapper for extended filesystem attrib...
